nav{
    margin: 0 !important;
}
body{
    background-image: url(../img/back1.jpg);
}
h1{
    text-align: center;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
p{
    font-family: 'Courier New';
    font-size: 13px;
    font-style: bold;
}
h3{
    font-family: 'Times New Roman';
    margin-top: 0 !important;
    padding-top: 0 !important;
    text-decoration: underline;
}
span{
    font-size: 10px;
}
small{
    font-family: 'Courier New';   
}